 <!-- 
    Filename:     contact.ejs 
    Student name: Kyle O'Keeffe
    StudentID:    301156790
    Date:         Oct. 2, 2021 
  -->

  <% include ../partials/header.ejs %>

  <h1><%= title %></h1>
  <div class="container">
    <!-- Message area -->
    <% if(messages.length > 0) { %>
      <div class="alert alert-danger">
        <%= messages %>
      </div>
    <% } %>

      <div class="text-center d-sm-flex flex-sm-row justify-content-center">
        <!-- Login form -->
        <form class="form-signin" action="" method="POST" autocomplete="off">
            <img class="mb-4" src="images/logo2.png" width="100">
            <h1 class = "h3 mb-3 font-weight-normal">Please enter Login Information</h1>
            
            <label for="username" class="sr-only">Username</label>
            <input type="text" 
              name= "username"
              id="username" 
              class="form-control" 
              placeholder="Enter Username" 
              required 
              autofocus>
            <label for="password" class="sr-only">Password</label>
            <input type="password" 
              name="password"
              id="password" 
              class="form-control" 
              placeholder="Enter Password" 
              required>
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign in">
        </form>

      </div>
  
        
  </div>
  <% include ../partials/footer.ejs %>
  