<!--
Filename:     views/partials/footer.ejs
Student name: Kyle O'Keeffe
StudentID:    301156790
Date:         Oct. 23, 2021  
-->

</main>
<!-- Script Imports -->
  <script src="/@popperjs/core/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>
<!-- Variable definition for passing to script.js -->
<script>
  var getTitle="<%= title %>";
</script>
<script src="/javascripts/script.js"></script>
</body>
</html>