  <!-- 
    Filename:     footer.ejs 
    Student name: Kyle O'Keeffe
    StudentID:    301156790
    Date:         Oct. 2, 2021 
  -->

</main>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="@popperjs/core/dist/umd/popper.min.js"></script>

</body>
</html>