<!--
Filename:     views/partials/header.ejs
Student name: Kyle O'Keeffe
StudentID:    301156790
Date:         Oct. 23, 2021  
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel='stylesheet' href="/@fortawesome/fontawesome-free/css/all.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
      <a class="navbar-brand" href="/">
        <img src="/images/logo2.png" alt="logo" style="width:100px;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <% if(title == 'Home'){ %>
              <a class="nav-link active" href="/">Home</a>
            <% } else{ %> 
              <a class="nav-link" href="/">Home</a>
            <% } %>
          </li>
          <li class="nav-item">
            <% if(title == 'About'){ %>
              <a class="nav-link active" href="/about">About</a>
            <% } else{ %> 
              <a class="nav-link" href="/about">About</a>
            <% } %>
          </li>
          <li class="nav-item">
            <% if(title == 'Projects'){ %>
              <a class="nav-link active" href="/projects">Projects</a>
            <% } else{ %> 
              <a class="nav-link" href="/projects">Projects</a>
            <% } %>
          </li>
          <li class="nav-item">
            <% if(title == 'Services'){ %>
              <a class="nav-link active" href="/services">Services</a>
            <% } else{ %> 
              <a class="nav-link" href="/services">Services</a>
            <% } %>
          </li>
          <li class="nav-item">
            <% if(title == 'Contact'){ %>
              <a class="nav-link active" href="/contact">Contact</a>
            <% } else{ %> 
              <a class="nav-link" href="/contact">Contact</a>
            <% } %>
          </li>
          <li class="nav-item dropdown">
            <% if (title == 'Business Contacts' || title == 'Add new Business Contact' || title == 'Edit Business Contact') { %>
              <a class="nav-link active dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Business Contacts</a>
            <% } else { %>
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Business Contacts</a>
              <% } %>       
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/businessContacts/list">Business Contacts List</a></li>
              <li><a class="dropdown-item" href="/businessContacts/add">Add a new Business Contact</a></li>
            </ul>
          </li>
        </ul>
          <% if (typeof userName == 'string' && userName) { %>
            <span class="text-light">Hi, <%= userName %>! &nbsp;</span>
            <a href="/user/signout">
              <button class="btn btn-outline-success my-2 my-sm-0" type="button">Signout</button>
          <% } else { %>
            <a href="/user/signin">
              <button class="btn btn-outline-success my-2 my-sm-0" type="button">Signin</button>
          <% } %>    
          </a>
      </div>
    </nav>