  <!-- 
    Filename:     header.ejs 
    Student name: Kyle O'Keeffe
    StudentID:    301156790
    Date:         Oct. 2, 2021 
  -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
 
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">
            <img src="images/logo2.png" alt="logo" style="width:100px;">
        </a>
        
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
            <% if(title == 'Home'){ %>
                <a class="nav-link" href="/about">About</a>
            <% } else{ %> 
            <a class="nav-link" href="/">Home</a>
            <% } %>
            </li>
            <li class="nav-item">
            <% if(title == 'Projects' || title == 'Projects' || title == 'Services' || title == 'Contact'){ %>
                <a class="nav-link" href="/about">About</a>
            <% } else{ %> 
            <a class="nav-link" href="/projects">Projects</a>
            <% } %>
            </li>
            <li class="nav-item">
            <% if(title == 'Services' || title == 'Contact'){ %>
                <a class="nav-link" href="/projects">Projects</a>
            <% } else{ %> 
            <a class="nav-link" href="/services">Services</a>
            <% } %>
            
            </li>
            <li class="nav-item">
            <% if(title == 'Contact'){ %>
                <a class="nav-link" href="/services">Services</a>
            <% } else{ %> 
            <a class="nav-link" href="/contact">Contact</a>
            <% } %>
            </li>
            <li class="nav-item">
              <% if(title == 'Business Contacts'){ %>
                  <a class="nav-link" href="/contact">Contact</a>
              <% } else{ %> 
              <a class="nav-link" href="/businessContacts">Business Contacts</a>
              <% } %>
              </li>
        <li class="nav-item btn">
          <a class="nav-link" href="/login">Login</a>
        </li>
      </ul>
        
    </nav>
<main class="m-2">