  <!-- 
    Filename:     contact.ejs 
    Student name: Kyle O'Keeffe
    StudentID:    301156790
    Date:         Oct. 2, 2021 
  -->

  <% include partials/header.ejs %>

  <h1><%= title %></h1>
    <div class="m-4 container">
    <!-- Contact information -->
        <div class="row">
          <p>Kyle O'Keeffe<br>
          (647)462-4781<br>
          kokeeffe@my.centennialcollege.ca</p>
        </div>
  <!-- Contact form -->
        <div class="w-60 row">
            <div class="w-60 col-sm-12">
                <table>
                    <tr>
                        <th>
                            header
                        </th>
                    </tr>
                    <tr>
                        <td>
                            content
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
  <% include partials/footer.ejs %>
  