<!--
Filename:     views/index.ejs
Student name: Kyle O'Keeffe
StudentID:    301156790
Date:         Oct. 23, 2021  
-->

    
    
    
    <% include partials/header.ejs %>

<!-- EJS determining contents of index Main-->

    <% if(title == 'Home'){ %>
      <div class="m-4 container">
    <!-- Header -->
          <div class="w-60 mx-auto jumbotron">
            <h1 class="mx-auto">Professional Portfolio - Kyle O'Keeffe</h1>      
            Welcome to the Professional Portfolio of Kyle O'Keeffe
          </div>
       
    <!-- Mission Statement -->
          <div class="mx-auto w-60 row">
            <div class="card">
            <div class="card-title"><h3>Mission Statement</h3></div>
            <div class="card-text">My mission is to develop my skills and knowledge in Software development in order to contribute to the development of software that will have a meaningful impact on both personal lives of individuals and the operations of the businesses where they devote their passion.</div>
        </div>
          </div>
      </div>

    <!-- About me Main contents -->
      <% } else if (title == 'About Me'){%>
        <h1><%= title %></h1>
      <div class = "m-4 container">
        <!-- Grid display for self Image -->
        <div class = "row">
          <div class="col-sm-4">
            <div class="card" style="width:400px">
              <img class="card-img-top" src="images/selfPicture.png" alt="Picture of Kyle" style="width:100%">
              <div class="card-body">
                <h4 class="card-title">Kyle O'Keeffe</h4>
                <a href="images/OKeeffeKyle_CV.pdf" id="resumeButton" class="btn w-100 btn-primary">View Resume</a>
              </div>
            </div>
          </div>
          <div class ="col-sm-8">
            My name is Kyle O’Keeffe and I am a Software Engineering Technology student at Centennial College in Toronto, Canada. I was born in Kingston, Ontario but was raised in Ottawa. I have been interested in programming since high school, where I was introduced to html and Java. My true passion for programming however developed in the workplace as I recognized the impact that a well-written software solution can have on increasing the quality of our work and personal lives. In addition to my current work at Centennial, I have also completed a post-graduate certificate in Research Analysis and a Bachelors degree in History. 
          </div>
        </div>
      </div>

  <!-- Projects Main contents -->
      <% } else if (title == 'Projects'){%>
        <h1><%= title %></h1>
        <div class = "container">
          <!-- Card deck for project samples -->
          <div class="card-deck d-sm-flex flex-sm-row align-content-around">
            <div class="m-2 card" style="width:400px">
              <div class="card-body">
                <h4 class="card-title">Student Records Application </h4>
                <p class="card-text">Description<br>Software to record, access and manage the academic records for multiple users. Developed using C# WPF GUI interface. Practice implementing ‘design by interface.’</p>
                <p class="card-text">Role<br>Designer, Developer</p>
              </div>
              <img class="card-img-bottom" src="images/studentTracking.PNG" alt="Image of GUI for Student Tracking software" style="width:100%">
            </div>
            <div class="m-2 card" style="width:400px">
              <div class="card-body">
                <h4 class="card-title">Customer Service Chatbot SRS</h4>
                <p class="card-text">Description<br>Contributed to development of software requirements documentation for a chatbot browser add-on.</p>
                <p class="card-text">Role<br>Team contributor</p>
              </div>
              <img class="card-img-bottom" src="images/chatBotDiagram.png" alt="Image of diagram for Chatbot software" style="width:100%">
            </div>
            <div class="m-2 card" style="width:400px">
              <div class="card-body">
                <h4 class="card-title">Quiz Simulation</h4>
                <p class="card-text">Description<br>Software for simulating a quiz. Developed using Java with JOptionsPane GUI interface. </p>
                <p class="card-text">Role<br>Designer, Developer</p>
              </div>
              <img class="card-img-bottom" src="images/quizSimulation.PNG" alt="Image of Quiz Simulator GUI with Ecclipse screenshot in background" style="width:100%">
            </div>
          </div>
        </div>

  <!-- Services Main contents -->
    <% } else if(title == 'Services'){ %>
      <h1><%= title %></h1>
      <div class="container">
        <!-- List group for service listing -->
        <ul class="list-group">
          <li class="list-group-item">
            <div class="card">
              <h4 class="card-title">Web Development</h4>
              <p class="card-text">
                <ul class="list-group">
                  <li class="list-group-item">HTML5/CSS3, Javascript, Nodejs, Express</li>
                  <li class="list-group-item">MEAN implementation stack</li>
                </ul>
              </p>
            </div>
          </li>
          <li class="list-group-item">
            <div class="card">
              <h4 class="card-title">General Programming</h4>
              <p class="card-text">
                <ul class="list-group">
                  <li class="list-group-item">C#</li>
                  <li class="list-group-item">Java</li>
                </ul>
              </p>
            </div>
          </li>
          <li class="list-group-item">
            <div class="card">
              <h4 class="card-title">Database Management</h4>
              <p class="card-text">
                <ul class="list-group">
                  <li class="list-group-item">Oracle SQL</li>
                  <li class="list-group-item">MongoDB</li>
                </ul>
              </p>
            </div>
          </li>
        
        </ul>
    </div>
      <% } %>
    <% include partials/footer.ejs %>